<vxml version="2.1">
  <form>
    <block>
<!--
      <goto next="/static/vxml/update_price.vxml#want_to_set_another_price"/>
      <goto next="/gas_buddy/prices/update#want_to_set_another_price"/>
-->
      <goto next="/campaign/index/2#state14"/>
    </block>
  </form>
</vxml>

